body {
    background-color: black;
}

.headshot {
    max-height: 300px;
    max-width: 300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.text-secondary {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    color: white;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.about-me {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
}

.text-secondary {
    color: white;
}

.contact {
    color:white;
}

.purple {
    background-color: rgba(129, 10, 129, 0.788);
}