body {
    background-color: rgb(191, 196, 196);
}

.text-secondary {
    font-family: 'Baloo Bhai 2', cursive;
}

.navbar-brand {
    font-family: 'Baloo Bhai 2', cursive;
}

.index-text {
    text-align: center;
}